<div class="panel panel-default">
    <div class="panel-heading">
        Post a recipe
    </div>
    <div class="panel-body">
        <div class="container">
            
            <%= form_for @recipe do |f| %>
            
                
            <div class="row">
                    <div class="form-group">
                        <label>Recipe name</label>
                        <%= f.text_field :recipe_name, placeholder: "Recipe name", class: "form-control" %>
                    </div>
                </div>
          
          <div class="row">
                    <div class="form-group">
                        <label>Recipe link</label>
                        <%= f.text_field :recipe_external_link, placeholder: "Recipe link", class: "form-control" %>
                    </div>
                </div>
          
          <div class="row">
                    <div class="form-group">
                        <label>Category</label>
                            <%= f.select :recipe_category, [["Main",1], ["Dessert",2],
                            ["Snack", 3], ["Drink",4]], 
                            prompt: "Select a category", class: "form-control" %>
                    </div>
                </div>
          
         
                
            <div class="row">
                    <div class="form-group">
                        <label>Recipe description</label>
                        <%= f.text_area :recipe_description, rows:4, placeholder: "Describe the recipe in few words",
                        class: "form-control" %>
                    </div>
                </div>
                
       
                
            <div class="actions">
                      <%= f.submit "Post", class: "btn btn-primary"%>
            </div>
            <% end %>
            
        </div>
    </div>
</div>