<div class="container">
  
    <div>
            
            <%= form_for @game, html: {multipart: true}  do |f| %>
            <%= render 'shared/errors' %>
      
      
      <div class="col-md-2"></div>
      
      
      <div class="col-md-8">
        
        <div class="text-lg m-b-lg"><strong>Submit a game</strong></div>
          
          
     <div class="row">
 
       <div>
 
           <div class="form-group">
 
                 <span class="btn btn-default btn-file">
 
                 <i class = "fa fa-cloud-upload fa-lg"></i> Upload a picture
 
                 <%= file_field_tag "images[]", type: :file, multiple: false %>
 
                 </span>
 
           </div>
 
       </div>
 
 </div>
          
          <div id="photos"><%= render 'photos/list' %></div>
          
            <div class="row m-y-sm">
                    <div class="form-group">
                        <%= f.text_field :game_name, placeholder: "Game name", class: "form-control" %>
                    </div>
                </div>
          
          <div class="row m-y-sm">
                    <div class="form-group">
                        <%= f.text_field :game_description, placeholder: "Game description", class: "form-control" %>
                    </div>
                </div>
          
          <div class="row m-y-sm">
                    <div class="form-group">
                        <%= f.text_field :game_external_link, placeholder: "Game link", class: "form-control" %>
                    </div>
                </div>
          
          <div class="row m-y-sm">
                    <div class="form-group">
                        <label>Game genre</label>
                        <%= f.select :game_genre, [["Action", "Action"], ["Adventure","Adventure"], ["Casual","Casual"], ["MMO","MMO"], ["Racing","Racing"], ["RPG","RPG"], ["Simulation","Simulation"], ["Sport","Sport"], ["Strategy","Strategy"]], id: "game_genre", prompt:"Select", class:"form-control" %>
                    </div>
                </div>
          
          <div class="row m-y-sm">
            
                    <div class="form-group">
                        <label>Game platform</label>
                        <%= f.select :game_platform, [["Computer", "Computer"], ["Mobile","Mobile"], ["Browser","Browser"]], id: "game_platform", prompt:"Select", class:"form-control" %>
                    </div>
            
                </div>
          
          
      
            <div class="row">
                      <%= f.submit "Post", class: "btn btn-lg deep-purple"%>
            </div>
            <% end %>
        
        </div>
            
        </div>
    </div>