<div class="container">
    <div class="panel-body">
        
        <!-- Photo principale de l'annonce -->
      
      <div class="row">
          
            <div class="col-md-6 p-a grey-100">              
                <%= image_tag @photos[0].image.url(:large), class:"img-responsive" if @photos.length >0 %>

                 <a href="<%= @game.game_external_link %>" target="_blank" class="text-center m-t-md text-muted" style="display:block">
                   <strong>GET IT</strong>
                 </a>
              </div>
        
             <div class="col-md-5 m-r-md">
               <h5 class="text-muted m-t-lg m-b-md">Get our exclusive discoveries in your inbox!</h5>
               <form action="https://submitgame.us12.list-manage.com/subscribe/post?u=eaf8bb9ac5695175ea26f60a6&amp;id=9dfd4eacc7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="m-b-lg __web-inspector-hide-shortcut__">
              <div class="input-group input-group-lg">
              <input type="email" id="mce-EMAIL" value="" name="EMAIL" class="form-control" placeholder="Your email" style="background-color: #fafafa" required="">
                <span class="input-group-btn">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn b-a no-shadow deep-purple text-white">Subscribe</span>
              </div>
            </form>
               <div class="text-md p-t-md"><strong><%= @game.game_name %></strong></div>
                <p><%= @game.game_description %></p>
                <ul class="list-inline m-b-lg">
                  <li class="list-inline-item text-sm"><%= image_tag avatar_url(@game.user), class:"w-24 circle b-a" %></li>
                  <li class="list-inline-item text-sm">+ <%= @game.game_genre %></li>
                  <li class="list-inline-item text-sm">+ <%= @game.game_platform %></li>
                </ul>
             </div>
        
        
            </div>
        </div>
    
    </div>
</div>
