<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>

  <%= stylesheet_link_tag "/stylesheets/styles/style.css" %>
  <%= stylesheet_link_tag "/stylesheets/styles/app.css" %>
  <%= stylesheet_link_tag "/stylesheets/styles/font.css" %>
  <%= stylesheet_link_tag "/stylesheets/styles/app.rtl.css" %>
  
  <%= stylesheet_link_tag "/stylesheets/animate.css/animate.min.css" %>
  <%= stylesheet_link_tag "/stylesheets/glyphicons/glyphicons.css" %>
  <%= stylesheet_link_tag "/stylesheets/font-awesome/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "/stylesheets/material-design-icons/material-design-icons.css" %>
  <%= stylesheet_link_tag "/stylesheets/ionicons/css/ionicons.min.css" %>
  <%= stylesheet_link_tag "/stylesheets/simple-line-icons/css/simple-line-icons.css" %>
  <%= stylesheet_link_tag "/stylesheets/bootstrap/dist/css/bootstrap.min.css" %>
 


 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  
  <%= javascript_include_tag '/libs/jquery/dist/jquery.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/libs/tether/dist/js/tether.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/libs/jQuery-Storage-API/jquery.storageapi.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/libs/PACE/pace.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/libs/jquery-pjax/jquery.pjax.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/libs/blockUI/jquery.blockUI.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/libs/jscroll/jquery.jscroll.min.js', 'data-turbolinks-track' => true %>
  
  
  <%= javascript_include_tag '/scripts/config.lazyload.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/scripts/ui-load.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/scripts/ui-jp.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/scripts/ui-device.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/scripts/ui-form.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/scripts/ui-modal.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/scripts/ui-nav.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/scripts/ui-list.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/scripts/ui-screenfull.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/scripts/ui-scroll-to.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/scripts/ui-toggle-class.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/scripts/ui-taburl.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/scripts/app.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/scripts/ajax.js', 'data-turbolinks-track' => true %>
  
  
  <%= csrf_meta_tags %>
</head>
  
<body>
  
<%= render 'layouts/navigation' %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
 
  
</body>
</html>
